html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  text-align: center;
  background-color: #5f5f5f;
  padding: 10px;
  color: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[class*="grid-"] {
  float:left;
}

[class*="grid-"] {
  width: 100%;
}

.clear {
  clear: both;
}

@media only screen and (min-width: 600px) {
  /* Sizing for tablets */
  .grid-m1 {width: 8.33%;}
  .grid-m2 {width: 16.66%;}
  .grid-m3 {width: 25%;}
  .grid-m4 {width: 33.33%;}
  .grid-m5 {width: 41.66%;}
  .grid-m6 {width: 50%;}
  .grid-m7 {width: 58.33%;}
  .grid-m8 {width: 66.66%;}
  .grid-m9 {width: 75%;}
  .grid-m10 {width: 83.33%;}
  .grid-m11 {width: 91.66%;}
  .grid-m12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* 12 grids, each width 8.3% * # grids. can be broken down indefinitely.*/
  .grid-1 {width: 8.33%;}
  .grid-2 {width: 16.66%;}
  .grid-3 {width: 25%;}
  .grid-4 {width: 33.33%;}
  .grid-5 {width: 41.66%;}
  .grid-6 {width: 50%;}
  .grid-7 {width: 58.33%;}
  .grid-8 {width: 66.66%;}
  .grid-9 {width: 75%;}
  .grid-10 {width: 83.33%;}
  .grid-11 {width: 91.66%;}
  .grid-12 {width: 100%;}
}
