.App {

  .content {
    padding: 8px;
    margin: auto;

    @media only screen and (min-width: 768px) {
      width: 750px;
    }
  }
  
  .header {
    text-align: center;
    background-color: #222222;
    padding: 10px;
    color: white;
  }
}
